apiVersion: apps/v1
kind: Deployment
metadata:
  name: llm-api
  namespace: llm
spec:
  replicas: 2
  selector:
    matchLabels:
      app: llm
  template:
    metadata:
      labels:
        app: llm
    spec:
      containers:
        - name: llm
          image: charanjops/python-microservice:2adb5b18ebd5d67a8623905343fea9cc05368506
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: llm-config
            - secretRef:
                name: llm-secrets
